/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
     */
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700';
html {
  font-size: 62.5%;
  line-height: 2.4em;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/* HTML5 display definitions
       ========================================================================== */
/**
     * Add the correct display in IE <10.
     * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
     * Add the correct display in IE for `main`.
     */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
     * Add the correct display in IE <10.
     */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
     * Add the correct display and remove excess height in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  vertical-align: baseline; }

/**
     * Add the correct display in IE <11, Safari <8, and Firefox <22.
     * 1. Add the correct display in IE.
     */
template,
[hidden] {
  display: none; }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox <40.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
     * Add the correct font style in Android <4.4.
     */
dfn {
  font-style: italic; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  line-height: 1.2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 1.2em 0; }

h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  margin: 1.6em 0; }

h3 {
  font-size: 1.17em;
  line-height: 2.05128em;
  margin: 2.05128em 0; }

h4 {
  font-size: 1em;
  line-height: 2.4em;
  margin: 2.4em 0; }

h5 {
  font-size: 0.83em;
  line-height: 2.89157em;
  margin: 2.89157em 0; }

h6 {
  font-size: 0.67em;
  line-height: 3.58209em;
  margin: 3.58209em 0; }

/**
     * Add the correct background and color in IE <10.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Remove the border on images inside links in IE <11.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
       ========================================================================== */
/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
blockquote {
  margin: 2.4em 40px; }

/**
       * Address margins set differently in IE 6/7.
       */
dl,
menu,
ol,
ul {
  margin: 2.4em 0; }

/**
         * Turn off margins on nested lists.
         */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

/**
       * Address paddings set differently in IE 6/7.
       */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 2.4em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
       * Set 1 unit of vertical rhythm on the top and bottom margin.
       */
p,
pre {
  margin: 2.4em 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
       ========================================================================== */
/**
     * Known issues:
     * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
     *   select, unless a border property is set. The default font weight on
     *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
     *   OS X.
     * - It is recommended that you do not style checkbox and radio inputs as
     *   Firefox's implementation does not respect box-sizing, padding, or width.
     * - Certain font size values applied to number inputs cause the cursor style of
     *   the decrement button to change from default to text.
     * - The search input is not fully stylable by default. In Chrome and Safari on
     *   OSX/iOS you can't control font, padding, border, or background. In Chrome
     *   and Safari on Windows you can't control border properly. It will apply
     *   border-width but will only show a border color (which cannot be controlled)
     *   for the outer 1px of that border. Applying -webkit-appearance: textfield
     *   addresses these issues without removing the benefits of search inputs (e.g.
     *   showing past searches). Safari (but not Chrome) will clip the cancel button
     *   on when it has padding (and textfield appearance).
     */
/**
     * 1. Change font properties to `inherit` in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     * 3. Address `font-family` inconsistency between `textarea` and other form in IE 7
     * 4. Improve appearance and consistency with IE 6/7.
     */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE <11.
     * 2. Remove the padding in IE <11.
     * 3. Remove excess padding in IE 7.
     *    Known issue: excess padding remains in IE 6.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * Correct the text style of placeholders in Chrome, Edge, and Safari.
     */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     * 4. Correct alignment displayed oddly in IE 6/7.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */ }

/**
     * Restore the font weight unset by a previous rule.
     */
optgroup {
  font-weight: bold; }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/*
    Example use:
    .kx-c-header__nav {
        @include large {
            display: none;
        }
    }

*/
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

:link {
  cursor: pointer; }

html,
body {
  width: 100%;
  height: 100%;
  background: #fdfaf5; }

body {
  color: #3D3C3B;
  font-size: 1.4rem;
  font-family: "roboto", sans-serif;
  line-height: 1.5;
  -webkit-transition: padding-left 0.15s ease-in-out;
  transition: padding-left 0.15s ease-in-out; }
  @media only screen and (min-width: 480px) {
    body {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) {
    body {
      padding-left: 30rem; } }

a {
  color: #ff9191; }
  a:hover {
    opacity: 0.7; }

.l-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .l-grid__1 {
    width: 8.33333%; }
  .l-grid__2 {
    width: 16.66667%; }
  .l-grid__3 {
    width: 25%; }
  .l-grid__4 {
    width: 33.33333%; }
  .l-grid__5 {
    width: 41.66667%; }
  .l-grid__6 {
    width: 50%; }
  .l-grid__7 {
    width: 58.33333%; }
  .l-grid__8 {
    width: 66.66667%; }
  .l-grid__9 {
    width: 75%; }
  .l-grid__10 {
    width: 83.33333%; }
  .l-grid__11 {
    width: 91.66667%; }
  .l-grid__12 {
    width: 100%; }
  .l-grid__push-1 {
    margin-left: 8.33333%; }
  .l-grid__push-2 {
    margin-left: 16.66667%; }
  .l-grid__push-3 {
    margin-left: 25%; }
  .l-grid__push-4 {
    margin-left: 33.33333%; }
  .l-grid__push-5 {
    margin-left: 41.66667%; }
  .l-grid__push-6 {
    margin-left: 50%; }
  .l-grid__push-7 {
    margin-left: 58.33333%; }
  .l-grid__push-8 {
    margin-left: 66.66667%; }
  .l-grid__push-9 {
    margin-left: 75%; }
  .l-grid__push-10 {
    margin-left: 83.33333%; }
  .l-grid__push-11 {
    margin-left: 91.66667%; }
  .l-grid__push-12 {
    margin-left: 100%; }
  @media only screen and (min-width: 768px) {
    .l-grid__md-1 {
      width: 8.33333%; }
    .l-grid__md-2 {
      width: 16.66667%; }
    .l-grid__md-3 {
      width: 25%; }
    .l-grid__md-4 {
      width: 33.33333%; }
    .l-grid__md-5 {
      width: 41.66667%; }
    .l-grid__md-6 {
      width: 50%; }
    .l-grid__md-7 {
      width: 58.33333%; }
    .l-grid__md-8 {
      width: 66.66667%; }
    .l-grid__md-9 {
      width: 75%; }
    .l-grid__md-10 {
      width: 83.33333%; }
    .l-grid__md-11 {
      width: 91.66667%; }
    .l-grid__md-12 {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .l-grid__sm-1 {
      width: 8.33333%; }
    .l-grid__sm-2 {
      width: 16.66667%; }
    .l-grid__sm-3 {
      width: 25%; }
    .l-grid__sm-4 {
      width: 33.33333%; }
    .l-grid__sm-5 {
      width: 41.66667%; }
    .l-grid__sm-6 {
      width: 50%; }
    .l-grid__sm-7 {
      width: 58.33333%; }
    .l-grid__sm-8 {
      width: 66.66667%; }
    .l-grid__sm-9 {
      width: 75%; }
    .l-grid__sm-10 {
      width: 83.33333%; }
    .l-grid__sm-11 {
      width: 91.66667%; }
    .l-grid__sm-12 {
      width: 100%; } }
  .l-grid--max-width {
    max-width: 128rem;
    margin-left: auto;
    margin-right: auto; }

@media only screen and (max-width: 767px) {
  .l-home-product-grid {
    padding-top: 6rem; } }

@media only screen and (min-width: 768px) {
  .l-home-product-grid {
    padding-top: 0; } }

.l-locations-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 2rem; }
  @media only screen and (max-width: 767px) {
    .l-locations-wrapper {
      padding-top: 6rem; } }

.l-about-paragraph-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem; }
  @media only screen and (max-width: 767px) {
    .l-about-paragraph-wrapper {
      padding-top: 6rem; } }
  @media only screen and (min-width: 768px) {
    .l-about-paragraph-wrapper {
      padding-top: 0; } }

.c-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 30rem;
  background-color: #FCF1DC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: left 0.15s ease-in-out;
  transition: left 0.15s ease-in-out; }
  @media only screen and (max-width: 767px) {
    .c-sidebar {
      left: -30rem; } }
  @media only screen and (min-width: 768px) {
    .c-sidebar {
      left: 0; } }
  .c-sidebar.open {
    left: 0;
    width: 100%; }

.c-sidebar__logo {
  width: 15rem; }

.c-sidebar__nav {
  margin-top: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%; }

.c-sidebar__nav-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 3;
  text-decoration: none;
  color: #3D3C3B;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer; }
  .c-sidebar__nav-link + .c-sidebar__nav-link {
    border-top: 0; }
  .c-sidebar__nav-link:hover {
    color: #ff9191; }
  .c-sidebar__nav-link.active {
    color: #ff9191; }
  @media only screen and (max-width: 767px) {
    .c-sidebar__nav-link {
      line-height: 4; } }

.c-sidebar__close-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #3D3C3B;
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: block; }
  @media only screen and (min-width: 768px) {
    .c-sidebar__close-icon {
      display: none; } }

.c-product-card-container {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  padding: 2rem; }
  .c-product-card-container:hover {
    background: #fbf6ed; }
  @media only screen and (max-width: 767px) {
    .c-product-card-container {
      width: 100%; } }
  @media only screen and (min-width: 480px) {
    .c-product-card-container {
      width: 50%; } }
  @media only screen and (min-width: 1600px) {
    .c-product-card-container {
      width: 25%; } }

.c-product-card {
  padding: 2rem; }

.c-product-card__image {
  max-width: 15rem;
  -webkit-filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2));
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  position: relative;
  top: 0; }

.c-product-card__meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }

.c-product-card__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: .05rem; }

.c-product-card__dollar-sign {
  font-size: 1.5rem;
  position: relative;
  bottom: .5rem;
  margin-right: .5rem; }

.c-product-card__price {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 100; }

.c-shopify-button {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .c-shopify-button {
      -webkit-transform: translateX(28%);
          -ms-transform: translateX(28%);
              transform: translateX(28%); } }
  @media only screen and (min-width: 480px) {
    .c-shopify-button {
      -webkit-transform: translateX(35%);
          -ms-transform: translateX(35%);
              transform: translateX(35%); } }

.l-about-paragraph {
  font-size: 3.5rem;
  max-width: 60rem;
  line-height: 1.6;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5rem; }
  @media only screen and (max-width: 767px) {
    .l-about-paragraph {
      padding: 2rem;
      font-size: 1.8rem; } }
  @media only screen and (min-width: 768px) {
    .l-about-paragraph {
      padding: 2rem;
      font-size: 2.4rem; } }
  @media only screen and (min-width: 1024px) {
    .l-about-paragraph {
      font-size: 3.5rem; } }

.c-header {
  position: fixed;
  width: 100%;
  top: -6rem;
  right: 0;
  background: transparent;
  padding: 0 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6rem;
  -webkit-transition: top 0.15s ease-in-out;
  transition: top 0.15s ease-in-out;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9; }
  @media only screen and (max-width: 767px) {
    .c-header {
      background: #fdfaf5;
      top: 0; } }

.c-header__logo {
  width: 7rem;
  height: 3rem; }

.c-header__cart-button {
  position: absolute;
  right: 2rem;
  top: .2rem;
  display: none; }

.c-header__menu-link {
  color: #3D3C3B;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  display: block; }

.c-outlet-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  max-width: 50rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30rem;
  min-width: 30rem;
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  min-height: 50rem;
  margin-bottom: 1rem; }

.c-outlet-card__text {
  text-align: center;
  margin-top: 0; }

.c-outlet-card__illustration {
  pointer-events: none;
  left: 0;
  max-width: 20rem;
  opacity: 1;
  left: 50%; }

.c-outlet-card__top {
  width: 100%;
  padding-top: 2rem;
  border-bottom: 1px solid transparent; }

.c-outlet-card__hours__row {
  height: 3rem; }

.c-outlet-card__name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem; }

.c-outlet-card__address {
  font-size: 1.4rem;
  opacity: 0.5;
  letter-spacing: 0.12rem;
  margin-bottom: 2rem;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto; }

.c-outlet-card__hours {
  padding: 4rem;
  letter-spacing: 0;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%; }
  .c-outlet-card__hours .hours {
    text-align: right; }

.c-outlet-card__ampm {
  font-size: 1rem; }

.c-outlet-card__email-icon {
  width: 4rem;
  height: 4rem; }

.c-social-banner {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 2rem; }

.c-social-banner__link {
  margin: 0 .5rem; }

.c-social-banner__icon {
  width: 1.8rem;
  height: 1.8rem; }
