.c-btn {
  display: inline-block;
  padding: 1.2rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.c-btn--primary {
  background-color: $mo-primary;
  color: $white;
}

.c-btn--full-width {
  width: 100%;
}

.c-btn--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-btn__icon {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  fill: $mo-white;
}
