* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

html {
  font-family: 'Roboto', sans-serif;
  @include mobile {
    font-size: 10px;
  };
}

:link,
:visited {
  text-decoration: underline;
  color: inherit;

  &:hover {
    opacity: .8;
  }
}
