---
layout: default
---

<div class="home">
  <ul class="stores">
    <h1>Store json</h1>
    {% for store in site.data.stores %}
      <li>
        <h2>{{ store.name }} | {{ store.address }}</h2>

        <ul class="hours">
          {% for test in store.hours %}
          <li>{{ test[0] }}
            {% if test[1].closed == true %}
            <p>
              closed
            </p>
            {% else %}
               {{ test[1].open }}am, {{ test[1].close }}pm</li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
