.c-social-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-social-banner__link {
  padding: 1rem 1rem;
  display: flex;
}

.c-social-banner__icon {
  fill: $mo-white;
  width: 3rem;
  height: 3rem;
}
