<div class="c-outlet-card">
  <img src="/assets/images/illustration-flagship.png" class="c-outlet-card__illustration">
  <div class="c-outlet-card__top">
    <h1 class="c-outlet-card__name">Flagship Store</h1>
    <h3 class="c-outlet-card__address">309 Karangahape Road</h3>
  </div>
  <div class="c-outlet-card__hours">
    <p class="c-outlet-card__text">We're currently building our flagship store...</p>
    <a class="c-btn c-btn--primary c-btn--full-width c-btn--with-icon" href="http://eepurl.com/cb5m_z">
      <span>Keep me posted when this opens</span>
    </a>
  </div>
</div>
