<div class="c-social-banner">
    <a class="c-social-banner__link" href="https://facebook.com/{{ site.facebook }}">
        {% include svg.html icon-name="facebook" icon-class="c-social-banner__icon" %}
    </a>
    <a class="c-social-banner__link" href="https://instagram.com/{{ site.instagram }}">
        {% include svg.html icon-name="instagram" icon-class="c-social-banner__icon" %}
    </a>
    <a class="c-social-banner__link" href="https://twitter.com/{{ site.twitter }}">
        {% include svg.html icon-name="twitter" icon-class="c-social-banner__icon" %}
    </a>
</div>
