<div class="c-sidebar">
  <a href="{{ site.baseurl }}/">
    {% include svg.html icon-name="logo" icon-class="c-sidebar__logo" %}
  </a>
  {% include shopify_buttons/cart.html %}
  <nav class="c-sidebar__nav">
      <a href="{{ site.baseurl }}/" class="c-sidebar__nav-link {% if page.url == '/' %} active {% endif %}">cookie shop</a>
      <a href="{{ site.baseurl }}/locations" class="c-sidebar__nav-link">locations & hours</a>
      <a href="{{ site.baseurl }}/about" class="c-sidebar__nav-link {% if page.url == '/about.html' %} active {% endif %}">about</a>
  </nav>
</div>
