.c-outlet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  width: 30rem;
  min-width: 30rem;
  background-color: $mo-white;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  @include antialiased;
  margin-bottom: 10rem;
  min-height: 50rem;

  @include mobile {
    &:last-of-type {
      margin-bottom: 0rem;
    }
  }
}

.c-outlet-card__text {
  text-align: center;
  margin-top: 0;
}

.c-outlet-card__illustration {
  pointer-events: none;
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  animation: slide-fade-in 0.6s ease-in-out;

  @include mobile {
    width: 20rem;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
  }
}

@keyframes slide-fade-in {
  from {transform: translateX(-50%) translateY(-45%); opacity: 0;}
  to {transform: translateX(-50%) translateY(-70%); opacity: 1;}
}

.c-outlet-card__top {
  width: 100%;
  padding-top: 4rem;
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.03);
}

.c-outlet-card__hours__row {
  height: 3rem;
}

.c-outlet-card__name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.c-outlet-card__address {
  font-size: 1.4rem;
  opacity: 0.5;
  letter-spacing: 0.12rem;
  margin-bottom: 5rem;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.c-outlet-card__hours {
  padding: 4rem;
  letter-spacing: 0;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;

  .hours {
    text-align: right;
  }
}

.c-outlet-card__ampm {
  font-size: 1rem;
}


.c-outlet-card__email-icon {
  width: 4rem;
  height: 4rem;
}
