.l-locations-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;


    @include small {
        padding-top: $header-height;
    };
}
