.c-footer {
  background-color: $mo-text;
  color: $mo-white;
  padding: 5rem;
  @include antialiased;

  .l-grid-container {
    flex-direction: column;
    align-items: center;
  }
}

.c-footer__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.c-footer__right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;

  @include mobile() {
    justify-content: flex-start;
  }
}

.c-footer__logo {
  width: 14rem;
  height: 8rem;
  fill: $mo-white;
  margin-bottom: 3rem;
}

.c-footer__description {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  max-width: 40rem;
  line-height: 1.5;
  opacity: 0.5;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
