.c-shopify-button {
    display: flex;
    position: relative; // This is to override the styles inheritted from shopify

    @include small {
        transform: translateX(32%);
    }

    @include smallish {
        transform: translateX(35%);
    }
}
