.c-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: $side-bar-width;
    background-color: $colour-brand;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left $transition-duration ease-in-out;

    @include small {
        left: - $side-bar-width;
    }

    @include medium {
        left: 0;
    }

    &.open {
        left: 0;
        width: 100%;
    }
}

.c-sidebar__logo {
    width: 15rem;
}

.c-sidebar__nav {
    margin-top: $spacing * 4;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.c-sidebar__nav-link {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 3;
    text-decoration: none;
    color: $colour-text;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    cursor: pointer;

    & + & {
        border-top: 0;
    }

    &:hover {
        color: $colour-primary;
    }

    &.active {
        color: $colour-primary;
    }
}

.c-sidebar__close-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: $colour-text;
    position: absolute;
    top: 2rem;
    right: 3rem;
    display: block;

    @include medium {
        display: none;
    }
}
