// Spacing
$base-spacing-unit: 1rem !default; // 16px
$spacing-grid: 2rem !default;

$spacing: $base-spacing-unit;

$border: 1px solid $colour-framing;
$border-radius: .5rem;

// Layout
$side-bar-width: 30rem;
