.l-body--home {
  background-color: $mo-brand;
}

.l-homepage-outlets {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
